.c-topview {
  &__img {
    height: 45vh;
  }

  .c-title {
    left: -20%;
  }
}

.top-view {

  .swiper-container {
    .swiper-slide {
      height: 85vh;
    }
  }
}

//* * * * * * 採用情報 * * * * * * * 
.c-recruit {
  .c-container {
    padding: 0 18vw;
  }

  .recruit-message {
    margin: 0 -5vw;

    ul {
      li {
        .points-title {
          margin-bottom: 30px;

          & .c-txt-lr {
            font-size: 22px;
          }
        }

        .points-desc {
          & .c-txt-sm {
            font-size: 18px;
          }
        }
      }
    }
  }
}