.cls-1,
.cls-2 {
  fill: none;
  stroke-miterlimit: 10;
}

.cls-1 {
  stroke: #231815;
}

.cls-2 {
  stroke: #232339;
}

.superwrapper {
  opacity: 0;
}

.svg-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: byeOpening 5.5s forwards;
  padding: 0 10vw;

  & .svg-inner {
    padding: 20px;

    & svg {
      height: 100%;
      width: 100%;
    }
  }
}

.pace-done {
  .superwrapper {
    opacity: 1;
  }
}

@media (min-width:600px) {
  & svg {
    width: 50%;
    // height: 50%;
  }
}

@keyframes byeOpening {
  50% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

//* ロゴオープニングアニメーション *//
@for $i from 1 to 50 {
  #wrap_all path {
    &:nth-child(#{$i}) {
      fill: rgb(9, 9, 51);
      stroke: rgb(102, 102, 102);
      stroke-width: 2px;
      animation: svg 3s ease-in both;
      animation-delay: $i * .1s;
    }
  }
}

#wrap_all path {
  fill: rgb(235, 13, 13);
  stroke: rgb(153, 149, 149);
  stroke-width: 2px;
  animation: svg 5s ease-in both;
}

@keyframes svg {
  0% {
    fill: transparent;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
  }

  20% {
    stroke-dashoffset: 000;
  }

  30% {
    fill: transparent;
  }

  70% {
    fill: rgb(9, 9, 51);
    stroke: transparent;
  }

  100% {
    fill: rgb(9, 9, 51);
    stroke: transparent;
  }
}